@{}

@model List<Application.Models.Entities.Employee.EmployeeClass>

@{
    ViewBag.Title = "List Employees";

    Pager pager = ViewBag.Pager ?? new Pager(0, 1); // Default initialization if pager is null
    string sortedOrder = ViewBag.SortOrder ?? "Emp_Id"; // Default initialization if sortedOrder is null
}

<div class="container mt-4">
    <h1 class="text-center">List of Employees</h1>


<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Sort By
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/Employee/ListEmployee?pg=@pager.CurrentPage&sortOrder=Emp_Id">Employee Id</a></li>
    <li><a class="dropdown-item" href="/Employee/ListEmployee?pg=@pager.CurrentPage&sortOrder=First_Name">First Name</a></li>
    <li><a class="dropdown-item" href="/Employee/ListEmployee?pg=@pager.CurrentPage&sortOrder=Last_Name">Last Name</a></li>
    <li><a class="dropdown-item" href="/Employee/ListEmployee?pg=@pager.CurrentPage&sortOrder=Dept_Id">Department Id</a></li>
  </ul>
</div>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Employee Table</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <style>
        .table-container {
            width: 100%;
            margin: 0 auto;
        }
        .table-container .dataTables_wrapper {
            margin: 0 auto;
            width: 100%;
        }
        /* Optional: Adjust the height of the pagination controls if needed */
        .dataTables_wrapper .dataTables_paginate {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="table-container">
        <table id="employeeTable" class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th class="vertical-center">Employee Id</th>
                    <th class="vertical-center">First Name</th>
                    <th class="vertical-center">Last Name</th>
                    <th class="vertical-center">Department Id</th>
                    <th>
                        <a class="btn btn-outline-success vertical-center" asp-controller="Employee" asp-action="AddEmployee">Add</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employeerow in Model)
                {   
                    <tr>
                        <td class="vertical-center">@employeerow.Emp_Id</td>
                        <td class="vertical-center">@employeerow.First_Name</td>
                        <td class="vertical-center">@employeerow.Last_Name</td>
                        <td class="vertical-center">@employeerow.Dept_Id</td>
                        <td class="vertical-center">
                            <a class="btn btn-outline-primary" asp-controller="Employee" asp-action="EditEmployee" asp-route-id="@employeerow.Emp_Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="container">

        @if (pager.TotalPages > 0)
        {

            <ul class="pagination justify-content-end">

                @* Adding the First and Previous Page buttons *@
                @if (pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="/Employee/ListEmployee?pg=1&sortOrder=@sortedOrder">First</a>
                    </li>
                    <li>
                        <a class="page-link" href="/Employee/ListEmployee?pg=@(pager.CurrentPage - 1)&sortOrder=@sortedOrder">Previous</a>
                    </li>
                }

                @* Adding the page numbers *@
                @for (int i = pager.StartPage; i <= pager.EndPage; i++)
                {
                    <li class="page-item @(i == pager.CurrentPage ? "active" : "")">
                        <a class="page-link" href="/Employee/ListEmployee?pg=@i&sortOrder=@sortedOrder">@i</a>
                    </li>
                }

                @* Adding the Next and Last Page buttons *@
                @if (pager.CurrentPage < pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="/Employee/ListEmployee?pg=@(pager.CurrentPage + 1)&sortOrder=@sortedOrder">Next</a>
                    </li>
                    <li>
                        <a class="page-link" asp-controller="Employee" asp-action="ListEmployee" asp-route-pg="@(pager.TotalPages)" asp-route-sortOrder="@sortedOrder">Last</a>
                    </li>
                }
            </ul>
        }
    </div>

    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#employeeTable').DataTable({
                "paging": true,
                "searching": true,
                "info": true,
                "pageLength": 10, // Number of entries per page
                "lengthChange": false, // Hide the "Show entries" dropdown
                "language": {
                    "paginate": {
                        "previous": "Prev",
                        "next": "Next"
                    }
                },
                "dom": '<"top"fi>rt<"bottom"lp><"clear">'
            });
        });
    </script> *@
</body>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @* <script>
        $(document).ready(function() {
            $('#sortButton').click(function() {
                var selectedOption = $('#sortOptions').val();
                var currentPage = '@pager.CurrentPage';
                var url = `/Employee/ListEmployee?pg=${currentPage}&sortOrder=${selectedOption}`;
                window.location.href = url;
            });
        });
    </script> *@
</html>
