@{}

@model List<Application.Models.Entities.Employee.EmployeeClass>

<h1> All Employee </h1>

<table class ="table">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Department Id </th>
            <th> <a class = "btn btn-primary" asp-controller = "Employee" asp-action = "AddEmployee"> Add </a> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employeerow in Model)
        {
            <tr>
                <td> @employeerow.Emp_Id </td>
                <td> @employeerow.First_Name </td>
                <td> @employeerow.Last_Name </td>
                <td> @employeerow.Dept_Id </td>
                <td> 
                    <a class = "btn btn-primary" asp-controller = "Employee" asp-action = "EditEmployee" asp-route-id = "@employeerow.Emp_Id"> Edit </a>
                </td>
            </tr>
        }
    </tbody>
</table>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>