@{}

@model List<Application.Models.Entities.Salary.SalaryClass>

<div class="container mt-4">
    <h1 class="text-center">List of Salaries</h1>
</div>
@{
    ViewBag.Title = "List Salaries";
    Pager pager = ViewBag.Pager ?? new Pager(0, 1);
    string sortedOrder = ViewBag.SortOrder ?? "Sal_Id";
}

<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Sort By
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/Salary/ListSalary?pg=@pager.CurrentPage&sortOrder=Sal_Id">Salary Id</a></li>
        <li><a class="dropdown-item" href="/Salary/ListSalary?pg=@pager.CurrentPage&sortOrder=Emp_Id">Employee Id</a></li>
        <li><a class="dropdown-item" href="/Salary/ListSalary?pg=@pager.CurrentPage&sortOrder=SalaryAmount">Salary</a></li>
    </ul>
</div>
<div class="table-container">
    <table id="salaryTable" class="table table-hover">
        <thead class="table-light">
            <tr>
                <th>Salary Id</th>
                <th>Employee Id</th>
                <th> Salary </th>
                <th>Time Stamp </th>
                <th> Edit Action </th>
                @* <th> <a class = "btn btn-primary" asp-controller = "Dept" asp-action = "AddDept"> Add </a> </th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var salrow in Model)
            {
                <tr>
                    <td> @salrow.Sal_Id </td>
                    <td> @salrow.Emp_Id </td>
                    <td> @salrow.SalaryAmount </td>
                    <td> @salrow.timestamp</td>
                    <td> 
                        <a class = "btn btn-outline-primary" asp-controller = "Salary" asp-action = "EditSalary" asp-route-id = "@salrow.Sal_Id"> Edit </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container">

    @if (pager.TotalPages > 0)
    {

        <ul class="pagination justify-content-end">

            @* Adding the First and Previous Page buttons *@
            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/Salary/ListSalary?pg=1&sortOrder=@sortedOrder">First</a>
                </li>
                <li>
                    <a class="page-link" href="/Salary/ListSalary?pg=@(pager.CurrentPage - 1)&sortOrder=@sortedOrder">Previous</a>
                </li>
            }

            @* Adding the page numbers *@
            @for (int i = pager.StartPage; i <= pager.EndPage; i++)
            {
                <li class="page-item @(i == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" href="/Salary/ListSalary?pg=@i&sortOrder=@sortedOrder">@i</a>
                </li>
            }

            @* Adding the Next and Last Page buttons *@
            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/Salary/ListSalary?pg=@(pager.CurrentPage + 1)&sortOrder=@sortedOrder">Next</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="Salary" asp-action="ListSalary" asp-route-pg="@(pager.TotalPages)" asp-route-sortOrder = "@sortedOrder">Last</a>
                </li>
            }
        </ul>
    }
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>