@{}

@model List<Application.Models.Entities.Department.DepartmentClass>

@{
    ViewBag.Title = "List Departments";
    Pager pager = ViewBag.Pager ?? new Pager(0, 1);
    string sortedOrder = ViewBag.SortOrder ?? "Dept_Id";
}

<div class="container mt-4">
    <h1 class="text-center">List of Departments</h1>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Sort By
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/Dept/ListDept?pg=@pager.CurrentPage&sortOrder=Dept_Id">Department Id</a></li>
        <li><a class="dropdown-item" href="/Dept/ListDept?pg=@pager.CurrentPage&sortOrder=Dept_Name">Department Name</a></li>
    </ul>
</div>

<div class="table-container">
    <table id="DeptTable" class ="table table-hover">
        <thead class="table-light">
            <tr>
                <th>Department Id</th>
                <th> Department Name </th>
                <th> <a class = "btn btn-outline-success" asp-controller = "Dept" asp-action = "AddDept"> Add </a> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var deptrow in Model)
            {
                <tr>
                    <td> @deptrow.Dept_Id </td>
                    <td> @deptrow.Dept_Name </td>
                    <td> 
                        <a class = "btn btn-outline-primary" asp-controller = "Dept" asp-action = "EditDept" asp-route-id = "@deptrow.Dept_Id"> Edit </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container">

    @if (pager.TotalPages > 0)
    {

        <ul class="pagination justify-content-end">

            @* Adding the First and Previous Page buttons *@
            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/Dept/ListDept?pg=1&sortOrder=@sortedOrder">First</a>
                </li>
                <li>
                    <a class="page-link" href="/Dept/ListDept?pg=@(pager.CurrentPage - 1)&sortOrder=@sortedOrder">Previous</a>
                </li>
            }

            @* Adding the page numbers *@
            @for (int i = pager.StartPage; i <= pager.EndPage; i++)
            {
                <li class="page-item @(i == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" href="/Dept/ListDept?pg=@i&sortOrder=@sortedOrder">@i</a>
                </li>
            }

            @* Adding the Next and Last Page buttons *@
            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/Dept/ListDept?pg=@(pager.CurrentPage + 1)&sortOrder=@sortedOrder">Next</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="Dept" asp-action="ListDept" asp-route-pg="@(pager.TotalPages)" asp-route-sortOrder = "@sortedOrder">Last</a>
                </li>
            }
        </ul>
    }
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>